# Credenciais de Acesso ao Logtudo
LOGTUDO_USER=seu_usuario
LOGTUDO_PASS=sua_senha
HEADLESS=true
DEBUG=true

# URLs dos Relatórios do Logtudo (prevalecem sobre o mapeamento.json)
LOGTUDO_URL_LOGIN=https://logtudo.e-login.net/
LOGTUDO_URL_FATURADOS=https://logtudo.e-login.net/versoes/versao5.0/rotinas/c.php?id=transp_rel_cotacoesFrete_formulario&menu=s&filtro=201
LOGTUDO_URL_NAO_FATURADOS=https://logtudo.e-login.net/versoes/versao5.0/rotinas/c.php?id=transp_rel_cotacoesFrete_formulario&menu=s&filtro=202
LOGTUDO_URL_CANCELADOS=https://logtudo.e-login.net/versoes/versao5.0/rotinas/c.php?id=transp_rel_cotacoesFrete_formulario&menu=s&filtro=151
LOGTUDO_URL_CONHECIMENTO_FRETE=https://logtudo.e-login.net/versoes/versao5.0/rotinas/c.php?id=trans_rel_conhecimento_formulario&menu=s&filtro=167
